.notify_body{
    width: 396px;
    background-color: var(--main_color);
}

.notify_title{
    font-family: var(--font_1);
    font-size: 18px;
    color: var(--primary_color);
}

.underline2{
    font-family: var(--font_2);
    font-size: 12px;
        color: var(--primary_color);
        text-decoration: underline;
}

.notify_bg {
     width: 396px;
  background-color: var(--primary_color);
  padding: 0 20px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.wavy_divider3 {
    width: 396px;
  height: 50px;
  background-color: var(--primary_color); 
  mask-image: radial-gradient(20px at 50% 100%, transparent 100%, #000 100%);
  mask-size: 40px 100%;
  transform: rotate(180deg);
  /* margin-top: -1px; */
}

.notify_card{
    display: flex;
padding: 8px 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 6px;
border-radius: 12px;
border: 2px solid var(--Electric-Royal, #121180);
background: rgba(18, 17, 128, 0.6);
}

.notify{
    color: var(--accent_color);
}

.notify_h{
    font-family: var(--font_1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        color: var(--primary_color);
}

.notify_p{
    font-family: var(--font_2);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
        color: var(--primary_color);
}