.onboarding{
    width: 100%;
    height: 100vh;
}
.onboarding_h{
    font-family: var(--font_1);
    font-size: 40px;
    color: var(--secondry_color);
}
.onboarding_p{
    width: 70%;
    font-family: var(--font_2);
    font-size: 18px;
    text-align: center;
    color: var(--main_color);
    margin-top: 0.5vw;
}
.gap{
    gap: 3%;
}
.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}