.add_div{
    /* margin: -160px -18% 0 0; */
    float: right;
    right: 0;
    top: 0;
    /* width: 46px;
    height: 80px; */
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
}
.add_btn{
    font-family: var(--font_2);
    font-size: 24px;
    font-weight: 600;
    color: var(--accent_color);
}

.bottom{
  margin-bottom: 100px;
}

.shared_list_bar {
  background: #f4f4f4;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.member_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.overlap { margin-left: -12px; }

.product_item {
  position: relative;
  margin-right: 15px;
}

.add_btn_top {
  position: absolute;
  top: -5px;
  right: -5px;
  background: white;
  border: 2px solid #FA921D;
  color: #FA921D;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  z-index: 2;
}

.list_bg {
     width: 396px;
  background-color: var(--secondry_color);
  padding: 0 20px 20px 20px;
  min-height: 100vh;
}

.wavy_divider2 {
    width: 396px;
  height: 50px;
  background-color: var(--secondry_color); 
  mask-image: radial-gradient(20px at 50% 100%, transparent 100%, #000 100%);
  mask-size: 40px 100%;
  transform: rotate(180deg);
  /* margin-top: -1px; */
}

.label{
  font-family: var(--font_2);
  font-size: 12px;
  color: var(--primary_color);
}

.bar_div{
  width: 100%;
  position: relative;
}

/* .progress_bar{
  width: 100%;
  display: flex;
  height: 9.252px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 19401852px;
  background: var(--Bright-Snow, #F9F9F9);
  position: absolute;
  z-index: -2;
} */

.progress_bar1{
  width: 30%;
  display: flex;
  height: 9.252px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 19401852px;
  background: var(--accent_color);
}

.find_link{
  font-family: var(--font_2);
  display: flex;
  width: 69.387px;
  height: 37.006px;
padding: 11.564px;
justify-content: center;
align-items: center;
gap: 11.564px;
border-radius: 6.939px;
color: var(--primary_color);
background: var(--accent_color);
}

