.header_w{
    width: 100%;
    /* background-colo   r: aqua; */
    gap: 3%;
    padding: 3% 4%;
}
.flex_row_end{
        width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* gap: 50%; */
}
.header_title {
  font-family: var(--font_1);
  font-size: 18px;
  font-weight: 700;
  color: var(--main_color);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.362px;
}

.header_subtitle {
  font-family: var(--font_2);
  font-size: 14px;
  color: var(--main_color);
  font-weight: 400;
}

.search-wrapper {
    position: relative;
    flex: 1 1;
}

.header_right {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: var(--space-md);
}

.header_update-badge {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: 6px 12px 6px 10px;
  background: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-xl);
}

.header_p{
  font-family: var(--font_2);
  color: var(--main_color);
  font-size: 14px;
  font-weight: 500;
}

.search_container {
    width: 110%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border: #999;
}

.search_wrapper {
    display: flex;
    align-items: center;
    width: 90%; 
    height: 45px;
    border-radius: 12px; 
    border: 1.5px solid #999;
    padding: 0 15px;
    background-color: #fff;
}

.search_icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    opacity: 0.6;
    color: #999;
}

.search_input {
    border: none;
    outline: none;
    width: 100%;
    font-family: var(--font_2);
    font-size: 16px;
    color: #999;
}

.search_input::placeholder {
    color: #999;
    font-weight: 300;
}